.root *{
    -fx-background-color: rgb(249, 251, 253); /* Skype light light blue */
}

.vbox {
    -fx-border-width: 0.5px;
    -fx-border-color: black;
}

.button{
    -fx-background-color: transparent;
    -fx-text-fill: black;
}

.button:hover {
    -fx-background-color: rgb(226, 238, 246); /* Skype light blue */
    -fx-font-weight: bold;
    -fx-font-size: 1.2em;
}

.glyph-icon {
    -fx-text-fill: slategrey;
    -fx-fill: slategrey;
}